html,
body {
 background-image: url("background.jpg");
 background-size: no-repeat;
 background-position: center;
 background-size: cover;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  color: #374151;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
  .site-header__wrapper {
    margin-right: 24px;
    padding: 8px;
  }
  
  .site-header {
    padding: 16px;;
    background-color: #ececec;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .section {
    flex-grow: 1;
    display: flex;
    justify-content: center;;
  }
  .main{
    border: #000000;
    width: 80%;
    margin: 10px 5rem 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-x: auto;
  }
  .main::-webkit-scrollbar {
    width: 0;
  }
  .sidebar::-webkit-scrollbar {
    width: 0;
  }
  .main__block{
    background-color: #60cdd3;
    min-height: 50%;
    padding-left: 0px;
    margin: 5px;
    border-radius: 8px;
    background-image: url("block-background.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .sidebar__block{
    color:  #374151;
    background-color:  #ececec;
    min-height: 5%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }
  .text{
    line-height: 120%;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;  
  }
  .ul{
    list-style-type: none;
  }
  .sidebar{
    float: right;
    width: 20%;
    height: 170px;
    padding: 5px;
    margin: 10px 10px 20px 5rem;
    overflow-x: auto;
    border-radius: 8px;
    background-image: url("block-background.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    
  }
  .sidebar_a {
    outline: none;
    text-decoration: none;
  }
  a:link {
    color: #374151;
  }
  
  a:visited {
    color:  #374151;
  }
  
  a:hover {
    border-bottom: 1px solid;
    color: #a70f0f;
  }
  
  a:active {
    color: #e85b24;
  }
  .header__button{
    border: 0;
    padding: 0.8rem;
    font-size: 1rem;
    text-align: center;
    color: #f9f9f9;
    text-shadow: 1px 1px 1px #171b22;
    border-radius: 15px;
    background-color: #a70f0f;
    background-image: linear-gradient(to top left, #a70f0f, #e85b24);
    margin-left: auto;
  }
  .header__button:hover {
    background-image: linear-gradient(to top left, #e05126, #f1b244);
  }

.header__button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #811808;
  color: #ececec;
}
